/* ^ video styling*/
#myVideo {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

/* ^ login box styling */

.column {
    float: left;
    width: 33%;
    }
    
    .row:after {
    content: "";
    display: table;
    clear: both;
    }

.blockbox {
   color: rgb(55, 55, 55);
    margin: 10px;
    margin-top: 80px;
    border: 3px solid brown;
    background-color: white;
    opacity: 90%;

    width: 35vh;
    height: 60vh;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
} 

.blockbox h1{
    margin: 20px auto;
    margin-bottom: 5px;
    text-decoration: none;
}

.button-container {
    margin: 10px;
    margin-top: 5px;
    width: 100%;
    text-align: center;
    height: 50%;
    
}

.button-container a {
    display: block;
    margin: 20px auto; 
    
    width: 150px; 
    height: 40px;
    font-size: 20px;
    background-color: white ;
    color: brown;
    border: 3px solid brown;
    text-decoration: none;
    line-height: 40px; 
    transition: 0.2s, color 0.2s;
}

.button-container a:hover {
    background-color: brown;
    color: white;
    
}

