/* ! change the font to something more modern, it gross :C */
body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* navBar styling */
/* reference to navBar https://www.w3schools.com/howto/howto_css_responsive_header.asp */
.header {
overflow: hidden;
background-color: #f1f1f1;
padding: 20px 10px;
margin: 0px;
}

/* ^ elements of navbar */

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
font-size: 25px;
font-weight: bold;
}

.header {
    background-color: brown;
}

.logo {
    color: white;
    text-decoration: none;
}
.header-right {
    float: right;
  }


/* ^ video styling*/
 /* Style the video: 100% width and height to cover the entire window */
#myVideo {
    margin-top: 110px;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

/* video end  */

/* ^ login box styling */

.column {
    float: left;
    width: 33%;
    }
    
    .row:after {
    content: "";
    display: table;
    clear: both;
    }

.blockbox {
   color: rgb(55, 55, 55);
    margin: 10px;
    margin-top: 110px;
    
    background-color: white;
    opacity: 90%;

    border-radius: 3px;
    width: 35vh;
    height: 60vh;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    
} 


.blockbox h1{
    margin: 40px auto;
    margin-bottom: 5px;
   
}

.button-container {
    margin: 10px;
    margin-top: 5px;
    width: 100%;
    text-align: center;
    height: 50%;

    
}

.button-container button {
    display: block;
    margin: 20px auto; 
    
    width: 150px; 
    height: 40px;
 
    font-size: 20px;
    background-color: brown ;
    color: white;
    border: none;
   
    border-radius: 3px;
    
    transition: background-color 0.2s, color 0.2s;
}

.button-container button:hover {
    background-color: rgb(111, 28, 28);
    color: white;
    
}


